 @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: rgb(0, 0, 0);
}
html {
  scroll-behavior: smooth;
}

 body {
   background-color: #e9f1f2;
 
  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;

  background-repeat: no-repeat;
}

/* Adicione as seguintes regras para que a acessibilidade funcione */
body.text-enlarged {
    font-size: 1.2rem; /* Exemplo: aumenta em 20% */
}

/* Isso garante que títulos e outros textos não fixos aumentem proporcionalmente */
body.text-enlarged * {
  line-height: 1.6 !important; 
}

/* Você pode precisar de regras específicas para classes de texto do Tailwind */
body.text-enlarged .text-sm {
    font-size: 1.1rem !important;
}

body.text-enlarged .text-lg {
    font-size: 1.5rem !important;
}

/* Regra de exemplo para títulos: */
body.text-enlarged h1 {
  font-size: 3.5rem !important; 
}

