 @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: rgb(0, 0, 0);
}
html {
  scroll-behavior: smooth;
}

 body {
   background-color: #e9f1f2;
 
  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;
  
  /* Impede que a imagem de fundo se repita (útil para imagens, não para cores) */
  background-repeat: no-repeat;
}